{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <section class="container ">
        <div class="center">
            <div class="upload-text">
                Drag and drop to upload files
            </div>
            <form action="/" method="post" enctype="multipart/form-data">    
                <input class="input" type="file" name="file" accept="image/*">
                <button class="button" type="submit">
                    <img src="/static/Images/cloud-removebg-preview.png" class="upload-icon">
                    <div>Upload</div>
                </button>
                <!-- <input class="button" type="submit"> -->
            </form>
        </div>
    </section>

    {% if image_path %}
    <div class="image-details">
        <img src="{{ image_path }}" alt="Uploaded Image" class="uploaded-image">
        <div class="veg-name" >{{ name }}</div>
    </div>
    <script>
        document.body.style.marginTop='3%'
        document.body.style.marginLeft='10%'
    </script>
    {% else %}
    <script>
        document.body.style.marginTop='13%'
        document.body.style.marginLeft='0%'
    </script>
    {% endif %}   
    
{% endblock %}

